.ly_header {
  width: 100%;
  position: fixed;
  z-index: 999;
}

.bl_header {
  background: #fff;
}

.bl_header_group {
  width: 95%;
  margin: 0 0 0 auto;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1080px) {
  .bl_header_group {
    padding: 17.5px 0;
  }
}
@media screen and (min-width: 1367px) {
  .bl_header_inner {
    max-width: 1342px;
    margin: 0 auto;
  }
  .bl_header_group {
    width: 100%;
  }
}
.bl_header_logo img {
  width: 100%;
}

.bl_header_btn {
  display: inline-block;
  font-family: "Montserrat";
  background: #524433;
  border: 1px solid #524433;
  color: #fff;
  padding: 14px 21.5px;
  letter-spacing: 0.08em;
  line-height: 100%;
  transition: all 0.3s;
}

.bl_header_btn:hover {
  background: #fff;
  color: #524433;
}

.bl_sp_header_nav {
  background: #524433;
  padding: 14px 0;
}

.bl_sp_header_nav_list {
  width: 90%;
  margin: 0 auto;
  max-width: 560px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  overflow: scroll;
  -ms-overflow-style: none;
}

.bl_sp_header_nav_list::-webkit-scrollbar {
  display: none;
}

.bl_sp_header_nav_listItem {
  color: #fff;
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.08em;
  flex-shrink: 0;
}

.bl_sp_header_nav_list_line {
  width: 1px;
  height: 15px;
  background: #fff;
  flex-shrink: 0;
}

.bl_pc_header_right {
  display: flex;
  align-items: center;
  gap: 32px;
}

.bl_pc_header_nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.bl_pc_header_nav_listItem {
  color: #524433;
  font-size: 14px;
  font-family: "Montserrat";
  transition: all 0.3s;
}

.bl_pc_header_nav_listItem:hover {
  opacity: 0.7;
}

.bl_pc_header_nav {
  display: none;
}

@media screen and (min-width: 1080px) {
  .bl_sp_header_nav {
    display: none;
  }
  .bl_pc_header_nav {
    display: block;
  }
}
.ly_footer {
  width: 100%;
  padding: 64px 0 16px;
}

@media screen and (min-width: 1080px) {
  .ly_footer {
    padding: 80px 0 24px;
  }
}
.bl_footer {
  background: #524433;
}

.bl_footer_inner {
  width: 90%;
  margin: 0 auto;
}

.bl_footer_logo {
  display: block;
  text-align: center;
}

.bl_footer_nav {
  margin-top: 24px;
}

.bl_footer_nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px 12px;
  flex-wrap: wrap;
}

.bl_footer_nav_listItem {
  color: #fff;
}

.bl_footer_nav_list_line {
  display: inline-block;
  width: 1px;
  height: 16px;
  background: #fff;
  transform: translateY(2px) rotate(15deg);
}

@media screen and (min-width: 1080px) {
  .bl_footer_nav {
    margin-top: 40px;
  }
  .bl_footer_nav_list {
    gap: 3px 18px;
  }
  .bl_footer_nav_list_line {
    height: 18px;
  }
}
.bl_footer_information_group {
  margin-top: 24px;
  text-align: center;
  color: #fff;
  line-height: 100%;
}

.bl_footer_information_address {
  margin-top: 8px;
}

.bl_footer_copyRight_wrapper {
  margin-top: 64px;
  text-align: center;
}

.bl_footer_copyRight {
  color: #fff;
}

body {
  font-size: 14px;
  font-family: "Noto Sans JP";
  color: #111;
  line-height: 200%;
}

span {
  display: block;
}

picture {
  display: block;
}

img {
  vertical-align: middle;
}

@media screen and (min-width: 1080px) {
  body {
    font-size: 16px;
  }
}
.bl_cont_inner {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (min-width: 1080px) {
  .bl_cont_inner {
    width: 80%;
  }
  .bl_cont_inner__70 {
    width: 70%;
  }
}
.bl_imgWrapper img {
  width: 100%;
}

.un_lb__reverse {
  display: none;
}

@media screen and (min-width: 1080px) {
  .un_lb {
    display: none;
  }
  .un_lb__reverse {
    display: block;
  }
}
.ly_cont {
  padding: 64px 0;
}

.ly_cont {
  padding: 80px 0;
}

.ly_secTtl {
  text-align: center;
}

.ly_btn {
  margin-top: 40px;
  text-align: center;
}

@media screen and (min-width: 1080px) {
  .ly_btn {
    margin-top: 48px;
  }
}
.ly_pageKv {
  width: 100%;
  height: 180px;
}

@media screen and (min-width: 1080px) {
  .ly_pageKv {
    height: 460px;
  }
}
.bl_contBg_secondary {
  background: #efede9;
}

.bl_contBg_menuImg {
  background: url(../img/sp_top_menu_bgImg-2000px.png);
  background-size: cover;
  background-position: center center;
}

@media screen and (min-width: 1080px) {
  .bl_contBg_menuImg {
    background: url(../img/pc_top_menu_bgImg-3000px.png);
  }
}
.bl_pageKv {
  background-size: cover;
  background-position: center center;
  padding: 77px 18px;
}

@media screen and (min-width: 1080px) {
  .bl_pageKv {
    padding: 212px 143px;
  }
}
.bl_pageKv_ttl {
  font-size: 26px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0.08em;
  font-family: "Montserrat";
  color: #fff;
}

@media screen and (min-width: 1080px) {
  .bl_pageKv_ttl {
    font-size: 36px;
  }
}
.bl_secChange {
  display: block;
}
.bl_secChange img {
  width: 100%;
}

.bl_post {
  margin-top: 40px;
  display: grid;
  gap: 40px;
}

.bl_post_card {
  transition: 0.3s;
}

.bl_post_card:hover {
  opacity: 0.7;
}

.bl_post_card_thumbnail img {
  width: 100%;
}

.bl_post_card_body {
  margin-top: 16px;
  line-height: 100%;
}

.bl_post_card_date {
  font-size: 12px;
  color: #524433;
  font-family: "Montserrat";
}

.bl_post_card_ttl {
  line-height: 155%;
  margin-top: 8px;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .bl_post {
    grid-template-columns: repeat(3, 1fr);
    gap: 48px 30px;
  }
  .bl_post_card_body {
    margin-top: 20px;
  }
  .bl_post_card_date {
    font-size: 14px;
  }
  .bl_post_card_ttl {
    font-size: 22px;
  }
}
@media screen and (min-width: 1080px) {
  .bl_post {
    margin-top: 48px;
  }
}
.bl_instagram {
  width: 100%;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.bl_instagram_post img {
  width: 100%;
}

@media screen and (min-width: 1080px) {
  .bl_instagram {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }
}
.el_spacer {
  width: 100%;
  height: 119px;
}

@media screen and (min-width: 1080px) {
  .el_spacer {
    height: 81px;
  }
}
.el_secTtl {
  font-size: 24px;
  font-family: "Montserrat";
  letter-spacing: 0.08em;
}

.el_secTtl__white {
  color: #fff;
}

@media screen and (min-width: 1080px) {
  .el_secTtl {
    font-size: 32px;
  }
}
.el_btn {
  display: inline-block;
  width: 220px;
  background: #111;
  border: 1px solid #111;
  color: #fff;
  padding: 18px 67px;
  line-height: 100%;
  font-weight: 300;
  font-family: "Montserrat";
  position: relative;
  transition: all 0.3s;
}

.el_btn::after {
  content: "";
  width: 24px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 50%;
  right: 0;
  transition: 0.3s;
}

.el_btn__white {
  background: #fff;
  color: #111;
  border: 1px solid #fff;
  transition: all 0.3s;
}

.el_btn__white::after {
  content: "";
  width: 24px;
  height: 1px;
  background: #111;
  position: absolute;
  top: 50%;
  right: 0;
  transition: 0.3s;
}

.el_btn:hover {
  background: #fff;
  color: #111;
}

.el_btn:hover::after {
  width: 32px;
  background: #111;
}

.el_btn:hover {
  background: #111;
  color: #fff;
}

.el_btn__white:hover::after {
  width: 32px;
  background: #fff;
}

@media screen and (min-width: 1080px) {
  .el_btn {
    width: 240px;
    padding: 21px 64.5px;
    font-size: 18px;
  }
  .el_btn::after {
    width: 28px;
  }
}
.ly_kv {
  width: 100%;
  height: 500px;
}

@media screen and (min-width: 1080px) {
  .ly_kv {
    height: 685px;
  }
}
.bl_kv {
  background-image: url(../img/sp_top_kv_bgImg-2000px.png);
  background-size: cover;
  background-position: center center;
}

@media screen and (min-width: 1080px) {
  .bl_kv {
    background-image: url(../img/pc_top_kv_bgImg-3500px.png);
  }
}
.bl_top_concept {
  margin-top: 40px;
}

.bl_top_concept_imgWrapper img {
  width: 100%;
}

.bl_top_concept_body {
  margin-top: 40px;
  text-align: center;
}

.bl_top_concept_ttl {
  font-size: 16px;
  line-height: 175%;
  text-align: center;
}

.bl_top_concept_txt {
  margin-top: 24px;
}

@media screen and (min-width: 1080px) {
  .bl_top_concept {
    margin-top: 48px;
  }
  .bl_top_concept_body {
    margin-top: 48px;
  }
  .bl_top_concept_ttl {
    font-size: 20px;
  }
  .bl_top_concept_txt {
    margin-top: 32px;
  }
}
.bl_top_menu {
  margin-top: 40px;
}

.bl_top_menu_separate {
  width: 100%;
}

@media screen and (min-width: 1080px) {
  .bl_top_menu {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 62px;
  }
}
.bl_top_menu_ttl {
  font-size: 18px;
  font-family: "Montserrat";
  color: #fff;
}

@media screen and (min-width: 1080px) {
  .bl_top_menu_ttl {
    font-size: 20px;
  }
}
.bl_top_menu_list {
  width: 100%;
  color: #fff;
  margin-top: 16px;
}

.bl_top_menu_listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bl_top_menu_listItem_price {
  font-family: "Montserrat";
}

.bl_top_menu_list_line {
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
}

.bl_top_menu_listItem + .bl_top_menu_list_line {
  margin-top: 10px;
}

.bl_top_menu_list_line + .bl_top_menu_listItem {
  margin-top: 10px;
}

.bl_top_menu_separate + .bl_top_menu_separate {
  margin-top: 40px;
}

@media screen and (min-width: 1080px) {
  .bl_top_menu_separate + .bl_top_menu_separate {
    margin-top: 0px;
  }
}
.bl_top_shopList {
  margin-top: 40px;
}

.bl_top_shopList_txt {
  text-align: center;
}

.bl_top_shopList_list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px 16px;
}

.bl_top_shopList_listItem {
  line-height: 100%;
  text-align: center;
  padding: 15.5px 0;
  background: #efede9;
  border-radius: 22.5px;
}

@media screen and (min-width: 768px) {
  .bl_top_shopList_list {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}
@media screen and (min-width: 1080px) {
  .bl_top_shopList {
    margin-top: 48px;
  }
  .bl_top_shopList_list {
    margin-top: 48px;
  }
  .bl_top_shopList_listItem {
    line-height: 100%;
    text-align: center;
    padding: 15.5px 0;
    background: #efede9;
    border-radius: 22.5px;
  }
}
.bl_pageKv__concept {
  background-image: url(../img/sp_pageKv_bgImg_concept-2000px.png);
}

@media screen and (min-width: 1080px) {
  .bl_pageKv__concept {
    background-image: url(../img/pc_pageKv_bgImg_concept-3500px.png);
  }
}
.bl_concept_imgWrapper img {
  width: 100%;
}

.bl_concept_imgWrapper:nth-of-type(2) {
  margin-top: 40px;
}

@media screen and (min-width: 1080px) {
  .bl_concept_imgWrapper:nth-of-type(2) {
    margin-top: 48px;
  }
}
.bl_concept_body {
  margin-top: 40px;
}

.bl_concept_copy {
  font-size: 16px;
  line-height: 175%;
  text-align: center;
}

.bl_concept_txt {
  margin-top: 24px;
  text-align: center;
}

@media screen and (min-width: 1080px) {
  .bl_concept_body {
    margin-top: 48px;
  }
  .bl_concept_copy {
    font-size: 20px;
  }
  .bl_concept_txt {
    margin-top: 32px;
  }
}
.bl_pageKv__menu {
  background-image: url(../img/sp_pageKv_bgImg_menu-2000px.png);
}

@media screen and (min-width: 1080px) {
  .bl_pageKv__menu {
    background-image: url(../img/pc_pageKv_bgImg_menu-3500px.png);
  }
}
.bl_menu_txtGroup {
  text-align: center;
}

.bl_menu_ttl {
  font-size: 16px;
  line-height: 175%;
}

.bl_menu_txt {
  margin-top: 24px;
}

@media screen and (min-width: 1080px) {
  .bl_menu_ttl {
    font-size: 20px;
  }
}
.bl_menu_list {
  margin-top: 40px;
}

@media screen and (min-width: 1080px) {
  .bl_menu_list {
    margin-top: 48px;
  }
}
.bl_menu_listItem_imgWrapper img {
  width: 100%;
}

.bl_menu_listItem_txtGroup {
  margin-top: 18px;
}

.bl_menu_listItem_ttl {
  font-size: 16px;
  line-height: 100%;
}

.bl_menu_listItem_price {
  margin-top: 12px;
  line-height: 100%;
}

.bl_menu_listItem_txt {
  margin-top: 12px;
}

.bl_menu_list li + li {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .bl_menu_listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
  }
  .bl_menu_listItem_imgWrapper {
    width: 70%;
  }
  .bl_menu_listItem_txtGroup {
    margin-top: 0;
  }
}
@media screen and (min-width: 1080px) {
  .bl_menu_listItem_ttl {
    font-size: 20px;
  }
  .bl_menu_listItem_price {
    margin-top: 16px;
  }
  .bl_menu_listItem_txt {
    margin-top: 24px;
  }
  .bl_menu_list li + li {
    margin-top: 48px;
  }
}
.bl_pageKv__blogNews {
  background-image: url(../img/sp_pageKv_bgImg_shopList-2000px.png);
}

@media screen and (min-width: 1080px) {
  .bl_pageKv__blogNews {
    background-image: url(../img/pc_pageKv_bgImg_shopList-3500px.png);
  }
}
.bl_shopList_list {
  line-height: 155%;
  display: grid;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .bl_shopList_list {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 60px;
  }
}
@media screen and (min-width: 1080px) {
  .bl_shopList_list {
    gap: 48px 99px;
  }
}
.bl_shopList_listItem_imgWrapper img {
  width: 100%;
}

.bl_shopList_listItem_txtGroup {
  margin-top: 16px;
  white-space: nowrap;
}
.bl_shopList_listItem_txtGroup address {
  margin-top: 4px;
}

.bl_shopList_listItem_ttl {
  font-size: 16px;
}

.bl_shopList_listItem_address {
  font-size: 12px;
}

.bl_shopList_listItem_tel {
  margin-top: 4px;
  font-size: 18px;
  font-family: "Montserrat";
}

.bl_shopList_listItem_list {
  margin-top: 4px;
}

.bl_shopList_listItem_listItem {
  font-size: 12px;
}

.bl_shopList_listItem_listItem + .bl_shopList_listItem_listItem {
  margin-top: 4px;
}

@media screen and (min-width: 1080px) {
  .bl_shopList_listItem figure {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
  }
  .bl_shopList_listItem_imgWrapper {
    width: 60%;
  }
  .bl_shopList_listItem_txtGroup {
    margin-top: 0;
  }
}
.bl_pageKv__blogNews {
  background-image: url(../img/sp_pageKv_bgImg_blogNews-2000px.png);
}

@media screen and (min-width: 1080px) {
  .bl_pageKv__blogNews {
    background-image: url(../img/pc_pageKv_bgImg_blogNews-3500px.png);
  }
}
.bl_pagiNation_wrapper {
  margin-top: 40px;
}

.bl_pagiNation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.bl_pagiNation_item {
  width: 32px;
  height: 32px;
  border: 1px solid #111;
  text-align: center;
  line-height: 32px;
  font-family: "Montserrat";
  cursor: pointer;
}

.bl_pagiNation_item__notBg {
  border: none;
  cursor: auto;
}

.bl_pagiNation_item__current {
  background: #111;
  color: #fff;
}

@media screen and (min-width: 1080px) {
  .bl_pagiNation_wrapper {
    margin-top: 48px;
  }
  .bl_pagiNation_item {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}
.bl_pageKv__shopList {
  background-image: url(../img/sp_pageKv_bgImg_blogNews-2000px.png);
}

@media screen and (min-width: 1080px) {
  .bl_pageKv__shopList {
    background-image: url(../img/pc_pageKv_bgImg_blogNews-3500px.png);
  }
}
.bl_post_imgWrapper img {
  width: 100%;
}

.bl_post_information_txtGroup {
  margin-top: 16px;
  line-height: 100%;
}

.bl_post_information_date {
  font-size: 12px;
  color: #524433;
  font-family: "Montserrat";
}

.bl_post_information_ttl {
  line-height: 155%;
  margin-top: 8px;
  font-size: 18px;
}

@media screen and (min-width: 1080px) {
  .bl_post_information_txtGroup {
    margin-top: 24px;
  }
  .bl_post_information_date {
    font-size: 14px;
  }
  .bl_post_information_ttl {
    font-size: 26px;
  }
}
.bl_post_txtGroup {
  margin-top: 40px;
}
.bl_post_txtGroup p + p {
  margin-top: 32px;
}

@media screen and (min-width: 1080px) {
  .bl_post_txtGroup {
    margin-top: 48px;
  }
  .bl_post_txtGroup p + p {
    margin-top: 40px;
  }
}
.bl_pageKv__404 {
  background-image: url(../img/sp_pageKv_bgImg_404-2000px.png);
}

@media screen and (min-width: 1080px) {
  .bl_pageKv__404 {
    background-image: url(../img/pc_pageKv_bgImg_404-3500px.png);
  }
}
.bl_404_txt {
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */