$bg-primary: #524433;
$bg-secondary: #efede9;
$bg-black: #111;
$bg-white: #fff;
$bg-grey: #efede9;
$border-black: #111;
$border-white: #fff;
$font-color-base: #111;
$font-color-white: #fff;
$font-color-primary: #524433;
$font-family-jp: "Noto Sans JP";
$font-family-en: "Montserrat";